<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Главная</a></li>
    <% if (user) { %>
    <li><a href="/chat">Чат</a></li>
    <% } %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <% if (user) { %>
    <li><a href="" onclick=confirmForm()>Выйти</a></form></li>
    <% } else { %>
    <li><a href="/login">Войти</a></li>
    <% } %>
  </ul>

  <script type="text/javascript">
    function confirmForm() {
      var form = document.createElement("FORM");
      form.id = "test-form";
      form.method = "POST";
      form.action = "/logout";
      $(document.body).append(form);
      $('#test-form').submit();
      return false;
    }
  </script>
</nav>